$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #0E4749;
$accent-color               : #95C623;
$secondary-color            : #FFD23F;

$custom-google-font         : 'Barlow', sans-serif;
$item-border-radius         : 8px;
$ornament-size              : 200px;
$ornament-visible-area      : 80px;

$item-media-size            : 90px;
$list-item-height           : 30px;
$button-height              : 44px;